/* CUSTOM PROPERTIES */
:root{
    --text-color: #939CAA;
    --font-family: "Lexend Deca", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'), 
    url('../fonts/space-mono-v6-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-deca-v7-latin-regular.woff2') format('woff2'), 
    url('../fonts/lexend-deca-v7-latin-regular.woff') format('woff'); 
}

*{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", "Arial", sans-serif;
    list-style: none;
    overflow-x: hidden;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.site-nav{
    padding: 22px 0;
}
.site-nav__container{
    display: flex;
    align-items: center;
}
.site-header__toggler{
    display: none;
}
.site-logo-img{
    display: block;
}
.site-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 59px;
}
.site-nav__item{
    margin-right: 32px;
}
.site-nav__link{
    text-decoration: none;
    color: var(--text-color);
}
.site-nav__link:hover{
    color: #FCB72B;
}

.hero-section{             /* HOME */
    margin: 0 auto;
    padding: 153px 0;
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("/img/man-with-bike.png");
    background-repeat: no-repeat;
    background-position: center center, calc(50% + 350px) -950px;
    margin-bottom: 160px;
}
.hero-section__container{
    position: relative;
}
.hero-section__container::after{
    content: "";
    position: absolute;
    bottom: 50px;
    right: -155px;
    background-image: url("/img/site-hero-bg-circles.svg");
    background-repeat: no-repeat;
    width: 234px;
    height: 63px;
}
.site-hero__title,
.sites-hero__title{
    margin: 0;
    margin-bottom: 40px;
    max-width: 500px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}
.hero-section__text-box{
    position: relative;
    margin-left: 90px;
}
.hero-section__text-box::before{
    content: "";
    position: absolute;
    top: 45px;
    left: -260px;
    background-image: url("/img/site-hero-horizontal-line.svg");
    background-repeat: no-repeat;
    width: 203px;
    height: 10px;
}
.hero-section__text-box::after{
    content: "";
    position: absolute;
    background-image: url("/img/yellow-arrow-to-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 40px;
    left: 470px;
    width: 446px;
    height: 138px;
}
.hero-section__text{
    margin: 0;
    margin-bottom: 40px;
    max-width: 405px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.app-section{
    margin-bottom: 200px;
}
.app-section__container{
    position: relative;
    z-index: 2;
}
.app-section__container::before{
    content: "";
    position: absolute;
    width: 974px;
    height: 15px;
    top: 40px;
    right: 300px;
    background-color: #E5EAF1;
    z-index: -2;
}
.app-section__list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-section__item::before{
    content: "";
    display: block;
    background-color: #FCB72B;
    background-repeat: no-repeat;
    background-position: center center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.app-section__phone-item::before{
    background-image: url("/img/phone.svg");
}
.app-section__scooter-item::before{
    background-image: url("/img/mini-scooter.svg");
}
.app-section__enjoy-item::before{
    background-image: url("/img/mini-enjoy-scooter.svg");
}
.app-section__title-link{
    margin: 0;
    margin-bottom: 27px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.app-section__text{
    max-width: 350px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.site-section{
    padding: 66px 0;
    margin-bottom: 160px;
    background-image: url("/img/easy-to-use-riding-telemetry.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 550px) center;
}
.city-section{
    background-image: url("/img/Coming-to-a-city-near-you.png");
    background-position: calc(50% - 600px) center;
}
.payments-section{             /*  HOME */
    margin-bottom: 200px;
    background-image: url("/img/zero-hassle-payments.png");
}
.mission-section{              /*  CAREERS */
    margin-bottom: 120px;
    background-image: url("/img/mobility.png");
}
.telemetry-section__container,
.city-section__container,
.payments-section__container{
    position: relative;
}
.telemetry-section__container::after,
.payments-section__container::after{
    content: "";
    position: absolute;
    background-image: url("/img/yellow-arrow-to-left.svg");
    background-repeat: no-repeat;
    bottom: -75px;
    right: -160px;
    width: 735px;
    height: 148px;
}
.payments-section__container::after{
    position: absolute;
    background-image: url("/img/yellow-arrow-to-left.svg");
    top: -10px;
    right: -510px;
}
.city-section__container::before{
    content: "";
    position: absolute;
    background-image: url("/img/yellow-arrow-to-right.svg");
    top: -65px;
    left: -570px;
    width: 735px;
    height: 148px;
}
.site-section__title{
    margin: 0;
    margin-bottom: 24px;
    max-width: 445px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.city-section__title,
.urban-section__title{
    margin-left: auto;
}
.site-section__text{
    margin: 0;
    margin-bottom: 40px;
    max-width: 445px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
}
.city-section__text,
.urban-section__text{
    margin-left: auto;
}

.site-link{
    padding: 14px 44px;
    background-color: #FCB72B;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border: 2px solid #FCB72B;
    color: #FFFFFF;
    white-space: nowrap;
}
.nav-link{
    margin-left: 450px;
}
.site-section__link{
    margin-left: 665px;
}
.jobs-section__link{
    margin-left: auto;
    padding: 14px 68px;
}
.site-link_left{
    margin: 0;
}
.site-link:hover{
    background-color: #FFFFFF;
    border: 2px solid #FCB72B;
    color: #FCB72B;
}


/* ABOUT  */
.about-hero-section{            
    padding: 50px 0;
    margin-bottom: 120px;   
    background-color: #2F3B59;
    background-image: url("/img/about-hero-bg-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1380px 200px;
}
.using-section{                
    margin-bottom: 120px;
    background-image: url("/img/mobility.png");
}
.urban-section{                 
    margin-bottom: 120px;
    background-image: url("/img/urban-living.png");
    background-position: calc(50% - 550px) center;
}
.values-section,
.location-section{                
    margin-bottom: 120px;
}

.values-section__title{
    margin: 0;
    margin-bottom: 48px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.values-section__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.values-section__item{
    position: relative;
    padding-top: 320px;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: calc(50% + 10px) calc(50% - 100px);
}
.values-section__tech-item{
    background-image: url("/img/mobile-image.png");
}
.values-section__integrity-item{
    background-image: url("/img/scooter-image.png");
}
.values-section__community-item{
    background-image: url("/img/community.png");
}
.values-section__item::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 130px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
    background-color: #FCB72B;
}
.values-section__tech-item::before{
    content: "01";
}
.values-section__integrity-item::before{
    content: "02";
}
.values-section__community-item::before{
    content: "03";
}
.values-section__item-title{
    margin: 0;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
}
.values-section__item-text{
    margin: 0;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
    color: var(--text-color);
}


.faqs-section__title{
    margin: 0;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.works-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.works-box__title{
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
}
.works-box__item{
    position: relative;
    width: 650px;
    padding: 32px 40px;
    background-color: #F2F5F9;
}
.works-box__item:not(:last-child){
    margin-bottom: 16px;
}
.works-box__sub-title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.works-box__item:hover{
    background-color: #FFF4DF;
}
.works-box__item:active{
    background-color: #F2F5F9;
}
.works-box__item::after{
    content: "";
    display: block;
    position: absolute;
    background-image: url("/img/up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 18px;
    top: 40px;
    right: 50px;
    transition: transform 0.2s;
}
.works-box__text{
    margin: 0;
    display: none;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: #495567;
}
.works-box__item:active .works-box__text{
    display: block;
    margin-top: 25px;
}
.works-box__item:active::after{
    transform: rotate(180deg);
}

.driving-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}
/* ABOUT */


/* CAREERS */

.careers-hero-section{
    padding: 50px 0;
    margin-bottom: 120px;   
    background-color: #2F3B59;
    background-image: url("/img/careers-bg-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1380px 200px;
}

.jobs-section{
    margin-bottom: 160px;
}
.jobs-section__item{
    display: flex;
    align-items: center;
    padding: 34px 40px;
    background-color: #F2F5F9;
}
.jobs-section__item:not(:last-child){
    margin-bottom: 24px;
}
.jobs-section__title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.jobs-section__text{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
}


/* LOCATIONS */

.location-hero-section{
    padding: 50px 0;
    margin-bottom: 120px;   
    background-color: #2F3B59;
    background-image: url("/img/careers-bg-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1380px 200px;
}

.location-section__container{
    display: flex;
    align-items: center;
    padding-top: 663px;
    background-image: url("/img/map-image.png");
    background-repeat: no-repeat;
}
.location-section__title{
    max-width: 351px;
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.location-section__text{
    max-width: 448px;
    margin: 0;
    margin-right: 105px;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}


/* SITE-FOOTER */
.sing-up-section{
    background-color: #495567;
    background-image: url("/img/site-footer-bg-circles.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 280px) 150px;
}
.sing-up-section__container{
    display: flex;
    align-items: center;
    padding: 102px 0;
}
.sing-up-section__title{
    max-width: 415px;
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}
.sing-up-section__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.sing-up-section__item{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    width: 127px;
    background-color: #E5ECF4;
    border-radius: 4px;
}
.sign-up__google-play{
    width: 172px;
}
.sing-up-section__item:first-child{
    margin-right: 18px;
}
.sign-up-section__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
}
.sign-up-section__img{
    margin-right: 10px;
}
.sign-up-section__link-span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
}


/* SITE FOOTER */
.site-footer{
    padding: 36px 0;
    background-color: #333A44;
}
.site-footer__container{
    display: flex;
    align-items: center;
}
.footer-site-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 59px;
}
.footer-site-nav__item:not(:last-child){
    margin-right: 32px;
}
.site-footer__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.site-footer__link:hover{
    color: #FCB72B;
}
.site-footer__networks-list{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
}
.site-footer__network-item:not(:last-child){
    margin-right: 24px;
}



/* TABLET RESPONSIVE */
@media only screen and (max-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0 40px;
    }
    
    
    .hero-section{             /* HOME */
        padding: 180px 0;
        background-position: center center, calc(50% + 180px) -950px;
        margin-bottom: 122px;
    }
    
    .site-hero__title{
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 24px;
        text-align: center;
    }
    .hero-section__text{
        max-width: 573px;
        margin: 0 auto;
        margin-bottom: 42px;
        text-align: center;
    }
    .hero-section__text-box{
        margin: 0;
    }
    .site-link{
        display: table;
        margin: 0 auto;
    }
    .hero-section__text-box::before{
        display: none;
    }
    .hero-section__container::after{
        bottom: -140px;
        right: -30px;
    }
    .hero-section__text-box::after{
        top: 210px;
        left: -250px;
    }
    
    /* APPS SECTION */
    .app-section{
        margin-bottom: 145px;
    }
    .app-section__container::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 513px;
        top: -122px;
        left: 140px;
        background-color: #E5EAF1;
        z-index: -2;
    }
    .app-section__list{
        flex-direction: column;
    }
    .app-section__item{
        display: flex;
        justify-content: space-between;
        width: 573px;
        margin: 0 auto;
    }
    .app-section__title{
        margin: 0;
        margin-bottom: 27px;
    }
    
    .app-section__item::before{
        margin: 0;
        margin-right: 79px;
    }
    
    /* SITE SECTIONS */
    
    .telemetry-section,
    .site-section{
        padding: 0;
        padding-top: 500px;
        margin-bottom: 128px;
        background-image: url("/img/easy-to-use-riding-telemetry.png");
        background-repeat: no-repeat;
        background-size: 954px 445px;
        background-position: calc(50% + 230px) top;
    }
    .telemetry-section__container::after{
        top: -205px;
        left: 35px;
        width: 735px;
        height: 148px;
    }
    .site-section__title{
        max-width: 457px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .site-section__text{
        max-width: 573px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .city-section{
        padding: 0;
        padding-top: 500px;
        margin-bottom: 128px;
        background-image: url("/img/Coming-to-a-city-near-you.png");
        background-repeat: no-repeat;
        background-size: 954px 445px;
        background-position: calc(50% - 230px) top;
    }
    .city-section__container::before{
        background-repeat: no-repeat;
        top: -500px;
        left: -360px;
        width: 760px;
        height: 148px;
    }
    .payments-section{
        padding: 0;
        padding-top: 500px;
        margin-bottom: 104px;
        background-image: url("/img/zero-hassle-payments.png");
        background-repeat: no-repeat;
        background-size: 954px 445px;
        background-position: calc(50% + 230px) top;
    }
    .payments-section__container::after{
        top: -415px;
        right: -350px;
        width: 735px;
        height: 148px;
    }
    
    /* SIGN UP SECTION */
    .sing-up-section{
        background-color: #495567;
        background-image: url("/img/site-footer-bg-circles.svg");
        background-repeat: no-repeat;
        background-position: calc(50%) 150px;
    }
    .sing-up-section__container{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding: 62px 0;
    }
    .sing-up-section__title{
        max-width: 457px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .sing-up-section__list{
        margin: 0 auto;
    }
}



/* MOBILE RESPONSIVE */

/* NAV */
@media only screen and (max-width: 375px) {
    .container{
        max-width: 375px;
        padding: 0 32px;
    }
    .site-nav__container{
        display: flex;
        align-items: center;
    }
    .site-header__toggler{
        display: block;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .site-nav__logo-link{
        margin-left: 79px;
    }
    .site-nav__list,
    .nav-link{
        display: none;
    }
    
    .site-nav__list{
        margin-bottom: 0;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }
    .site-nav--open{
        display: block;
        position: fixed;
        top: 45px;
        left: -60px;
        bottom: 0;
        transform: translateX(0);
        width: 256px;
        height: 605px;
        padding-top: 64px;
        padding-left: 32px;
        background-color: #333A44;
    }
    .site-nav__item:not(:last-child){
        margin-bottom: 24px;
    }
    .nav-link{
        display: block;
        margin-top: 400px;
        margin-right: 20px;
    }
    
    /* HERO */
    .hero-section{           
        padding: 115px 0 180px 0;
        background-position: center center, calc(50% - 160px) -950px;
        margin-bottom: 122px;
    }
    .site-hero__title{
        max-width: 311px;
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 40px;
    }
    .hero-section__text{
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 25px;
    }
    .hero-section__container::after{
        display: none;
    }
    .hero-section__text-box::after{
        width: 650px;
        top: 210px;
        left: -530px;
    }
    
    /* APPS SECTION */
    .app-section{
        margin-bottom: 120px;
    }
    .app-section__container::before{
        display: none;
    }
    .app-section__list{
        flex-direction: column;
    }
    .app-section__item{
        display: flex;
        flex-direction: column;
        width: 311px;
        margin: 0 auto;
    }
    .app-section__item::before{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .app-section__item:not(:last-child){
        margin-bottom: 48px;
    }
    
    .app-section__title{
        text-align: center;
        margin-bottom: 24px;
    }
    .app-section__text{
        text-align: center;
    }
    
    
    /* SITE SECTIONS */
    
    .site-section{
        padding-top: 367px;
        margin-bottom: 120px;
        background-size: 654px 311px;
    }
    .telemetry-section{
        background-image: url("/img/easy-to-use-riding-telemetry.png");
        background-position: calc(50% + 175px) top;
    }
    .telemetry-section__container::after{
        top: -202px;
        left: 30px;
    }
    .site-section__title{
        max-width: 311px;
        margin: 0 auto;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
    .site-section__text{
        max-width: 311px;
        margin: 0 auto;
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    
    .city-section{
        background-image: url("/img/Coming-to-a-city-near-you.png");
        background-position: calc(50% - 170px) top;
    }
    .city-section__container::before{
        top: -370px;
        left: -460px;
    }
    .payments-section{
        background-image: url("/img/zero-hassle-payments.png");
        background-position: calc(50% + 175px) top;
    }
    .payments-section__container::after{
        top: -375px;
        right: -495px;
    }
    
    /* SIGN UP SECTION */
    .sing-up-section{
        background-color: #495567;
        background-image: url("/img/site-footer-bg-circles.svg");
        background-repeat: no-repeat;
        background-position: calc(50% - 220px) 150px;
    }
    .sing-up-section__container{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding: 88px 0;
    }
    .sing-up-section__title{
        font-size: 32px;
        line-height: 32px;
        max-width: 311px;
    }
    .sing-up-section__list{
        margin: 0 auto;
    }
    .sing-up-section__item{
        max-width: 94px;
        padding: 10px;
    }
    .sign-up__google-play{
        max-width: 110px;
    }
    .sign-up-section__img{
        width: 17px;
        height: 20px;
        margin-right: 9px;
    }
    .sign-up-section__link{
        font-size: 8px;
        line-height: 6px;
        white-space: nowrap;
    }
    .sign-up-section__link-span{
        font-size: 16px;
        line-height: 13px;
    }
    
    /* FOOTER */
    
    .site-footer{
        padding-top: 64px;
        padding-bottom: 88px;
    }
    .site-footer__container{
        display: flex;
        flex-direction: column;
    }
    .site-footer__logo-img{
        margin: 0 auto;
        margin-bottom: 41px;
    }
    .footer-site-nav__list{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-bottom: 85px;
        padding: 0;
    }
    .footer-site-nav__item:not(:last-child){
        margin: 0;
        margin-bottom: 16px;
    }
    
    .site-footer__networks-list{
        margin: 0 auto;
    }
}

/* ABOUT */

/* TABLET RESPONSIVE */     
@media only screen and (max-width: 768px) {
    .about-hero-section{
        padding: 38px 0;
        margin-bottom: 144px;
        background-color: #2F3B59;
        background-image: url(/img/about-hero-bg-image.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 768px 170px;
    }
    .sites-hero__title{
        margin-bottom: 0;
    }
    
    .using-section{
        background-image: url("/img/mobility.png");
        background-position: calc(50% + 220px) top;
    }
    
    .urban-section{
        background-image: url("/img/urban-living.png");
        background-position: calc(50% - 220px) top;
    }
    
    .values-section__list{
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        padding: 0;
    }
    .values-section__item:not(:last-child){
        margin-bottom: 45px;
    }
    
    .works-box,
    .driving-box{
        display: flex;
        flex-direction: column;
    }
    
    .works-box__title{
        text-align: center;
        margin-bottom: 32px;
    }
    
    .works-box__list{
        padding: 0;
        margin: 0;
    }
    .works-box__item{
        max-width: 619px;
        padding: 35px;
    }
    
    .driving-box{
        margin-bottom: 120px;
    }
}
/* MOBILE RESPONSIVE */ 

@media only screen and (max-width: 375px){
    .site-nav__container{
        display: flex;
        align-items: center;
    }
    .site-header__toggler{
        display: block;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .site-nav__logo-link{
        margin-left: 79px;
    }
    .site-nav__list,
    .nav-link{
        display: none;
    }
    
    .about-hero-section {
        padding: 58px 0;
        margin-bottom: 72px;
        background-position: calc(50% + 100px) -15px;
    }
    .sites-hero__title{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }
    
    .using-section{
        background-position: calc(50% + 140px) top;
    }
    
    .urban-section{
        background-position: calc(50% - 180px) top;
    }
    
    .values-section__item {
        background-position: calc(50%) calc(50% - 100px);
    }
    
    .values-section__item::before{
        left: 110px;
    }
    
    .works-box__item {
        max-width: 251px;
        padding: 30px;
    }
    .works-box__item::after {
        right: 20px;
    }
    
    .works-box__title{
        font-size: 24px;
        line-height: 28px;
    }
    .works-box__text{
        font-size: 15px;
        line-height: 25px;
    }   
}
