/* CUSTOM PROPERTIES */
:root{
    --text-color: #939CAA;
    --font-family: "Lexend Deca", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'), 
    url('../fonts/space-mono-v6-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-deca-v7-latin-regular.woff2') format('woff2'), 
    url('../fonts/lexend-deca-v7-latin-regular.woff') format('woff'); 
}


.hero-section{
    padding: 72px 0;
    margin-bottom: 120px;   
    background-color: #2F3B59;
    background-image: url("/img/about-hero-bg-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1380px 200px;
}
.hero-section__title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.using-section{
    padding: 125px 0;
    margin-bottom: 120px;
    background-image: url("/img/mobility.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) center;
}
.main-section__title{
    max-width: 445px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.main-section__text{
    max-width: 445px;
    margin: 0;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
}

.urban-section{
    padding: 125px 0;
    margin-bottom: 120px;
    background-image: url("/img/urban-living.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 600px) center;
}
.urban-section__title{
    margin-left: auto;
}
.urban-section__text{
    margin-left: auto;
}


.values-section{
    margin-bottom: 120px;
}
.values-section__title{
    margin: 0;
    margin-bottom: 48px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.values-section__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.values-section__item{
    position: relative;
    padding-top: 320px;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: calc(50% + 10px) calc(50% - 100px);
}
.values-section__tech-item{
    background-image: url("/img/mobile-image.png");
}
.values-section__integrity-item{
    background-image: url("/img/scooter-image.png");
}
.values-section__community-item{
    background-image: url("/img/community.png");
}
.values-section__item::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 130px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
    background-color: #FCB72B;
}
.values-section__tech-item::before{
    content: "01";
}
.values-section__integrity-item::before{
    content: "02";
}
.values-section__community-item::before{
    content: "03";
}
.values-section__item-title{
    margin: 0;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
}
.values-section__item-text{
    margin: 0;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
    color: var(--text-color);
}


.faqs-section__title{
    margin: 0;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.works-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.works-box__title{
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
}
.works-box__item{
    position: relative;
    width: 650px;
    padding: 32px 40px;
    background-color: #F2F5F9;
}
.works-box__item:not(:last-child){
    margin-bottom: 16px;
}
.works-box__sub-title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.works-box__item:hover{
    background-color: #FFF4DF;
}
.works-box__item:active{
    background-color: #F2F5F9;
}
.works-box__item::after{
    content: "";
    display: block;
    position: absolute;
    background-image: url("/img/up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 18px;
    top: 40px;
    right: 50px;
    transition: transform 0.2s;
}
.works-box__text{
    margin: 0;
    display: none;
}
.works-box__item:active .works-box__text{
    display: block;
    margin-top: 25px;
}
.works-box__item:active::after{
    transform: rotate(180deg);
}

.driving-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}