/* SITE-HEADER */
*{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", "Arial", sans-serif;
    list-style: none;
    overflow-x: hidden;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.site-nav{
    padding: 22px 0;
}
.site-nav__container{
    display: flex;
    align-items: center;
}
.site-logo-img{
    display: block;
}
.site-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 59px;
}
.site-nav__item:not(:last-child){
    margin-right: 32px;
}
.site-nav__link{
    text-decoration: none;
    color: var(--text-color);
}
.site-nav__link:hover{
    color: #FCB72B;
}
.nav-button{
    margin-left: auto;
    padding: 14px 40px;
    background-color: #FCB72B;
    color: #ffffff;
    border: 2px solid #FCB72B;
    cursor: pointer;
}
.nav-button:hover{
    background-color: #FFFFFF;
    border: 2px solid #FCB72B;
    color: #FCB72B;
}


/* SITE-FOOTER */
.sing-up-section{
    background-color: #495567;
    background-image: url("/img/site-footer-bg-circles.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 280px) 150px;
}
.sing-up-section__container{
    display: flex;
    align-items: center;
    padding: 102px 0;
}
.sing-up-section__title{
    max-width: 415px;
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}
.sing-up-section__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.sing-up-section__item{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    width: 127px;
    background-color: #E5ECF4;
    border-radius: 4px;
}
.sing-up-section__item:first-child{
    margin-right: 18px;
}
.sign-up-section__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
}
.sign-up-section__img{
    margin-right: 12px;
}
.sign-up-section__link-span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
}

.site-footer{
    padding: 36px 0;
    background-color: #333A44;
}
.site-footer__container{
    display: flex;
    align-items: center;
}
.site-nav__list{
    margin: 0;
    margin-left: 59px;
}
.site-footer__item:not(:last-child){
    margin-right: 32px;
}
.site-footer__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.site-footer__link:hover{
    color: #FCB72B;
}
.site-footer__networks-list{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
}
.site-footer__network-item:not(:last-child){
    margin-right: 24px;
}